---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/637637553239091125_432464344/comments?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4749'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"created_time":"1390233357","text":"And
        maybe a fitbit","from":{"username":"tennis_guy23","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_198155720_75sq_1373746773.jpg","id":"198155720","full_name":"Andrei
        Is Awesome"},"id":"637646075452450371"},{"created_time":"1390235563","text":"Haha!!!!!!!!!!
        @tennis_guy23","from":{"username":"boeing738","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_339748829_75sq_1389317698.jpg","id":"339748829","full_name":"HD
        Plane Pictures\/Videos"},"id":"637664582399420018"},{"created_time":"1390238671","text":"Dear
        @lufthansa i would like to see more \u2708\ufe0f pics than guys running.Thanks
        \ud83d\ude18","from":{"username":"enrique444","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_208517312_75sq_1367005015.jpg","id":"208517312","full_name":"Ciunea
        Enrique"},"id":"637690652825740550"},{"created_time":"1390249545","text":"Nice
        day \u2661","from":{"username":"imankawaii304","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_565159625_75sq_1380330847.jpg","id":"565159625","full_name":"Iman
        Kawaii"},"id":"637781872889553956"}]}'
  recorded_at: Tue, 04 Feb 2014 17:01:30 GMT
recorded_with: VCR 2.8.0
