---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/653714645670132444_16192269?access_token=16192269.terefere.5132ead0890d4650a196c1f33f8d0748
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"OAuthAccessTokenException","code":400,"error_message":"The
        access_token provided is invalid."}}'
  recorded_at: Tue, 01 Apr 2014 09:13:50 GMT
recorded_with: VCR 2.8.0
