---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/637637553239091125_432464344/comments?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3443'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"created_time":"1390233357","text":"And
        maybe a fitbit","from":{"username":"tennis_guy23","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_198155720_75sq_1373746773.jpg","id":"198155720","full_name":"Andrei
        Is Awesome"},"id":"637646075452450371"},{"created_time":"1390235563","text":"Haha!!!!!!!!!!
        @tennis_guy23","from":{"username":"boeing738","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_339748829_75sq_1389317698.jpg","id":"339748829","full_name":"HD
        Plane Pictures\/Videos"},"id":"637664582399420018"},{"created_time":"1390238671","text":"Dear
        @lufthansa i would like to see more \u2708\ufe0f pics than guys running.Thanks
        \ud83d\ude18","from":{"username":"enrique444","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_208517312_75sq_1367005015.jpg","id":"208517312","full_name":"Ciunea
        Enrique"},"id":"637690652825740550"},{"created_time":"1390249545","text":"Nice
        day \u2661","from":{"username":"imankawaii304","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_565159625_75sq_1380330847.jpg","id":"565159625","full_name":"Iman
        Kawaii"},"id":"637781872889553956"}]}'
  recorded_at: Tue, 21 Jan 2014 13:51:33 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/637637553239091125_432464344/likes?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3442'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"chasterious_01","bio":"Latin
        girl\u2661\nI \u2661 fashion \nSpanisch deutsch Englisch\nMake the blue bottom
        green *-* \nFollow me , i follow back","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_435070343_75sq_1388959040.jpg","full_name":"Charlotte","id":"435070343"},{"username":"tomnavy","bio":"Theres
        NO business like.... lassen wir das o_O Check on Facebook :tomtomhh","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_23782039_75sq_1386014134.jpg","full_name":"Tom","id":"23782039"},{"username":"georg_e_ax","bio":"\ud83d\udd39Hey
        Guys\ud83d\udd38                \u2611\ufe0fBorn in 1997, Greece.   \u2611\ufe0fKik
        me:LcoohH.          \u2611\ufe0fSnap me: George ax.         \ud83d\udea9","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_497172073_75sq_1375799075.jpg","full_name":"George
        Ax","id":"497172073"},{"username":"xdkubi58","bio":"Ich bin t\u00fcrke das
        sollte alles sagen.","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_261972408_75sq_1382228899.jpg","full_name":"Kubilay","id":"261972408"},{"username":"emilmay_33","b[...]
