---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4751'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["caroltheluresavage","theluresavage","flashshipstore"],"location":null,"comments":{"count":135,"data":[{"created_time":"1391533065","text":"Beautiful\u2665","from":{"username":"cynsymphony","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_716428065_75sq_1389073247.jpg","id":"716428065","full_name":"Cindy"},"id":"648548814810741824"},{"created_time":"1391533072","text":"Beautiful","from":{"username":"deni_henriansyah","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_682003352_75sq_1391354173.jpg","id":"682003352","full_name":"Deni
        Henriansyah"},"id":"648548876718668865"},{"created_time":"1391533114","text":"wooahhh
        girlieess\ud83d\ude1a\u2764","from":{"username":"yassoush","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_38910262_[...]
