---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4710'
    body:
      encoding: UTF-8
      string: "{\"meta\":{\"code\":200},\"data\":[{\"attribution\":null,\"tags\":[],\"location\":null,\"comments\":{\"count\":56,\"data\":[{\"created_time\":\"1392817976\",\"text\":\"Someones
        happy\",\"from\":{\"username\":\"alainakalonka\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_190550577_75sq_1388604598.jpg\",\"id\":\"190550577\",\"full_name\":\"22.\"},\"id\":\"659327435141215117\"},{\"created_time\":\"1392818013\",\"text\":\"\\u0633\\u0628\\u062d\\u0627\\u0646
        \\u0627\\u0644\\u0644\\u0647\",\"from\":{\"username\":\"thhrock\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_319952385_75sq_1392652435.jpg\",\"id\":\"319952385\",\"full_name\":\"Cap.Ahmad(Beautlabore)\"},\"id\":\"659327741442847642\"},{\"created_time\":\"1392818040\",\"text\":\"Kawai\",\"from\":{\"username\":\"gisbx\",\"profile_picture[...]
