---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?access_token=4907942.01a3945.d24a9419c2794fc987b60dcab98e22fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1395763599453","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1395763599453","next_min_id":"1395788093935","min_tag_id":"1395788093935","next_url":"https:\/\/api.instagram.com\/v1\/tags\/inspiredby\/media\/recent?access_token=4907942.01a3945.d24a9419c2794fc987b60dcab98e22fe\u0026max_tag_id=1395763599453"},"meta":{"code":200},"data":[{"attribution":null,"tags":["butterfly","nailstamping","stampingdesign","nails","bm424","cutenails","aistamping","nailart","nailpolish","nails2inspire","stampaholic","stampaddiction","notd","yellownails","stampaddict","nailartwow","bundlemonster","mundodeunas","nailsnailsnails","stampingplate","stampaholics","glamglaze","jjnailpromote","glamorouspumps","inspiredby","glamorousnails","nailjunkie","girlynailsdeluxe"],"type":"image","location":null,"comments":{"count":2,"data":[{"created_time":"1395762826","text":"#bm424
        #stampaddiction #stampaddict #stampingdesign #stampaholic #stampaholics #butterfly
        #nailstamping #nailart #nails #nailsnailsnails #nailartwow #aistamping #jjnailpromote#glamorousnails
        #glamorouspumps #girlynailsdeluxe #cutenails #glamglaze #yellownails","from":{"username":"opalliegh18","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_209880947_75sq_1370991638.jpg","id":"209880947","full_name":"\u003c3opal...
        inspired nail junkie"},"id":"684030622096609598"},{"created_time":"1395762893","text":"#mundodeunas  #bundlemonster
        #stampingplate #notd #nails2inspire #inspiredby  #nailpolish #nailjunkie","from":{"username":"opalliegh18","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_209880947_75sq_1370991638.jpg","id":"209880947","full_name":"\u003c3opal...
        inspired nail junkie"},"id":"684031188671582550"}]},"filter":"Normal","created_time":"1395762755","link":"http:\/\/instagram.com\/p\/l-Ka9JDtLC\/","likes":{"count":19,"data":[{"username":"andreamnails","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_1137885401_75sq_1393718161.jpg","id":"1137885401","full_name":"andreamnails"},{"username":"lashenny21nails","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_559572762_75sq_1395426041.jpg","id":"559572762","full_name":"lashenny21nails"},{"username":"el_czaputka","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_1062240699_75sq_1395164295.jpg","id":"1062240699","full_name":"el_czaputka"},{"username":"marimathu","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_506500981_75sq_1389538637.jpg","id":"506500981","full_name":"mari
        :)"}]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage9.s3.amazonaws.com\/3dcd27c2b43511e3a93712acd571ca7d_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage9.s3.amazonaws.com\/3dcd27c2b43511e3a93712acd571ca7d_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/distilleryimage9.s3.amazonaws.com\/3dcd27c2b43511e3a93712acd571ca7d_8.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1395762755","text":"These
        are so cute.  Inspired by Joan blisard a girl on adventures in stamping.  I
        used my @glamglaze that my friend @krayzeeladie sent me.  Also @mundodeunas  stamping
        polishes.  @bundlemonster plate 424","from":{"username":"opalliegh18","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_209880947_75sq_1370991638.jpg","id":"209880947","full_name":"\u003c3opal...
        inspired nail junkie"},"id":"684030026689990945"},"user_has_liked":false,"id":"684030026228617922_209880947","user":{"username":"opalliegh18","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_209880947_75sq_1370991638.jpg","full_name":"\u003c3opal...
        inspired nail junkie","bio":"","id":"209880947"}},{"attribution":null,"tags":["pandoramurah","sayajual","sayajualpandora","bazaarpaknil","mamasitabracelet","inspiredby"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Kelvin","created_time":"1395762606","link":"http:\/\/instagram.com\/p\/l-KIxAAWhp\/","likes":{"count":1,"data":[{"username":"officialzasspak","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_1045293517_75sq_1391307216.jpg","id":"1045293517","full_name":"Zasspak\[...]
