---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?access_token=4907942.01a3945.d24a9419c2794fc987b60dcab98e22fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
    body:
      encoding: UTF-8
      string: "{\"meta\":{\"code\":200},\"data\":[{\"attribution\":null,\"tags\":[\"vossen\",\"vps\"],\"type\":\"image\",\"location\":{\"latitude\":25.934353145,\"longitude\":-80.125882365},\"comments\":{\"count\":36,\"data\":[{\"created_time\":\"1392817631\",\"text\":\"\\ud83d\\udca5\\ud83d\\udca5\",\"from\":{\"username\":\"dancing_to_the_same_song\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_244302574_75sq_1392376312.jpg\",\"id\":\"244302574\",\"full_name\":\"Teresa
        Pizzata\"},\"id\":\"659324541440451660\"},{\"created_time\":\"1392817667\",\"text\":\"@vrodr013
        @db7_rene my bday is right around the corner #justsaying\",\"from\":{\"username\":\"amazin_andy\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_8522805_75sq_1378591572.jpg\",\"id\":\"8522805\",\"full_name\":\"amazin_andy\"},\"id\":\"659324841064752218\"},{\"created_time\":\"1392817739\",\"text\":\"Wanna
        see hot wheels follow me\",\"from\[...]
