---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4709'
    body:
      encoding: UTF-8
      string: "{\"pagination\":{\"next_max_tag_id\":\"1392811117121\",\"deprecation_warning\":\"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead\",\"next_max_id\":\"1392811117121\",\"next_min_id\":\"1392846379839\",\"min_tag_id\":\"1392846379839\",\"next_url\":\"https:\\/\\/api.instagram.com\\/v1\\/tags\\/inspiredby\\/media\\/recent?client_id=<API_TOKEN>\\u0026max_tag_id=1392811117121\"},\"meta\":{\"code\":200},\"data\":[{\"attribution\":null,\"tags\":[\"instock\",\"new\",\"michaelkors\",\"inspiredby\",\"watches\",\"rosegold\"],\"location\":{\"latitude\":50.767973769,\"longitude\":0.284481375},\"comments\":{\"count\":0,\"data\":[]},\"filter\":\"Rise\",\"created_time\":\"1392817579\",\"link\":\"http:\\/\\/instagram.com\\/p\\/kmY8cNo0PL\\/\",\"likes\":{\"count\":1,\"data\":[{\"username\":\"sam3_r\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_841506051_75sq_1387752485.jpg\",\"id\":\"841506051\",\"full_name\":\"Samantha\"}]},\"images\":{\"low_resolution\":{\"url\":\"http:\\/\\/distilleryimage9.s3.amazonaws.com\\/e9eacbc0996b11e390231246c9b0a4e5_6.jpg\",\"width\":306,\"height\":306},\"thumbnail\":{\"url\":\"http:\\/\\/distilleryimage9.s3.amazonaws.com\\/e9eacbc0996b11e390231246c9b0a4e5_5.jpg\",\"width\":150,\"height\":150},\"standard_resolution\":{\"url\":\"http:\\/\\/distilleryimage9.s3.amazonaws.com\\/e9eacbc0996b11e390231246c9b0a4e5_8.jpg\",\"width\":640,\"height\":640}},\"users_in_photo\":[],\"caption\":{\"created_time\":\"1392817579\",\"text\":\"New
        Michael Kors watches in stock including the Mini Bradshaw in Rose Gold with
        stunning blue dial. Also available in gold with pink dial www.inspiredbybrufords.com
        #michaelkors #watches #rosegold #instock #new #InspiredBy\",\"from\":{\"username\":\"inspiredbybrufords\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_301137255_75sq_1378814661.jpg\",\"id\":\"301137255\",\"full_name\":\"InspiredbyBrufords\"},\"id\":\"659324102823330293\"},\"type\":\"image\",\"id\":\"659324102034801611_301137255\",\"user\":{\"username\":\"inspiredbybrufords\",\"website\":\"\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_301137255_75sq_1378814661.jpg\",\"full_name\":\"InspiredbyBrufords\",\"bio\":\"\",\"id\":\"301137255\"}},{\"attribution\":null,\"tags\":[\"animeguy\",\"pecs\",\"str8flexin\",\"npc\",\"malemodel\",\"intensity\",\"hench\",\"guy\",\"6pack\",\"ifbbpro\",\"shredz\",\"gohardorgohome\",\"animestagram\",\"gymlife\",\"gymgrind\",\"mirin\",\"workouts\",\"inspired\",\"stuntinlikemydaddy\",\"youaintaboutthatlife\",\"bodypump\",\"boom\",\"ifbb\",\"shredded_academy\",\"inspiredby\",\"transformation\",\"dragonballz\"],\"location\":null,\"comments\":{\"count\":8,\"data\":[{\"created_tim[...]
