---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3446'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["hyepark"],"location":null,"comments":{"count":90,"data":[{"created_time":"1390311858","text":"Gorgeous","from":{"username":"youeodi","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_1000957443_75sq_1390227496.jpg","id":"1000957443","full_name":"youeodi"},"id":"638304594878643455"},{"created_time":"1390311910","text":"Nice
        photo","from":{"username":"jokerperfect","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/anonymousUser.jpg","id":"1001948057","full_name":"ali"},"id":"638305030574554383"},{"created_time":"1390312017","text":"So
        cool eonnii!!!","from":{"username":"got7_2pm","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_984839762_75sq_1389958285.jpg","id":"984839762","full_name":[...]
