---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?access_token=4907942.01a3945.d24a9419c2794fc987b60dcab98e22fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["openingday","yankees"],"type":"image","location":{"latitude":40.742019777,"longitude":-74.005809058},"comments":{"count":223,"data":[{"created_time":"1395766217","text":"@jsantiago61","from":{"username":"estevez73","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_48078755_75sq_1394679802.jpg","id":"48078755","full_name":"ed
        estevez"},"id":"684059072842464749"},{"created_time":"1395766219","text":"Houston
        then jays. No excuse to win those games.","from":{"username":"theguywithablackshirt","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_246380035_75sq_1394852762.jpg","id":"246380035","full_name":"Fernando"},"id":"684059088529161712"},{"created_time":"1395766226","text":"@dan_yull14","from":{"username":"dopeitzda","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"OAuthParameterException","code":400,"error_message":"Missing
        client_id or access_token URL parameter."}}'
  recorded_at: Thu, 17 Apr 2014 11:50:08 GMT
recorded_with: VCR 2.8.0
