---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3445'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1390306575592","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1390306575592","next_min_id":"1390340637638","min_tag_id":"1390340637638","next_url":"https:\/\/api.instagram.com\/v1\/tags\/inspiredby\/media\/recent?client_id=<API_TOKEN>\u0026max_tag_id=1390306575592"},"meta":{"code":200},"data":[{"attribution":null,"tags":["travel","paradise","dream","inspiredby"],"location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1390311837","link":"http:\/\/instagram.com\/p\/jbtnu0SyxM\/","likes":{"count":4,"data":[{"username":"babriel17","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_191367048_75sq_1347839764.jpg","id":"191367048","full_name":"Gabriel
        Hernandez"},{"username":"aloha_tomoko","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_3042658_75sq_1385942665.jpg","id":"3042658","full_name":"tomoko"},{"username":"jennpenn93","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_25657358_75sq_1378422588.jpg","id":"25657358","full_name":"Jenna
        R"},{"username":"elapdsil","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_636077926_75sq_1388277525.jpg","id":"636077926","full_name":"Elaine
        Rinaldi"}]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage11.s3.amazonaws.com\/0e97fbfe82a211e3bc1512eeac6afcf3_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage11.s3.amazonaws.com\/0e97fbfe82a211e3bc1512eeac6afcf3_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/distilleryimage11.s3.amazonaws.com\/0e97fbfe82a211e3bc1512eeac6afcf3_8.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1390311837","text":"Dreaming
        of Paradise. #inspiredby #paradise #travel #dream","from":{"username":"withlovebym_a_","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_609609810_75sq_1389481089.jpg","id":"609609810","full_name":"WITHLOVEBYM.A."},"id":"638304415019379863"},"type":"image","id":"638304414625115212_609609810","user":{"username":"withlovebym_a_","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_609609810_75sq_1389481089.jpg","full_name":"WITHLOVEBYM.A.","bio":"","id":"609609810"}},{"attribution":null,"tags":["airportlights","avgeek","instagramaviation","sunsetglobe","street","aviation","sunrise","worldaviationphotos","awesomeness","clouds","igaviationcontest","field","fte_photography","sun","runway","runwaylights","lights","airport","sunset","cloud","light","runwaytosun","inspiredby"],"location":{"latitude":51.370009631,"name":"D\u00fcsseldorf
        Airport Germany","longitude":7.563958404,"id":190829360},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1390308381","link":"http:\/\/instagram.com\/p\/jbnB4cTR6d\/","likes":{"count":20,"data":[{"username":"lauragandula","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_21188114_75sq_1387308518.jpg","id":"21188114","full_name":"lauragandula"},{"username":"a_duvy","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_353535975_75sq_1384091771.jpg","id":"353535975","ful[...]
