---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?client_id=<API_TOKEN>&min_id=1395788093935
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4855'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1397728561836114","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1397728561836114","next_min_id":"1397760996090786","min_tag_id":"1397760996090786","next_url":"https:\/\/api.instagram.com\/v1\/tags\/inspiredby\/media\/recent?min_id=1395788093935\u0026client_id=<API_TOKEN>\u0026max_tag_id=1397728561836114"},"meta":{"code":200},"data":[{"attribution":null,"tags":["sardiniapunkrock","punkrocker","figarolo","spring","sardegna","sardinia","naturegram","spiaggia","sun","girlswithtattoos","golfoaranci","likemypicture","veganstagram","this","island","igersardegna","capofigari","calamoresca","igsardegna","sea","inspiredby"],"location":null,"comments":{"count":1,"data":[{"created_time":"1397735795","text":"#calamoresca  #golfoaranci  #capofigari
        #figarolo #sardinia  #sardiniapunkrock  #igsardegna  #igersardegna  #girlswithtattoos  #punkrocker  #veganstagram  #naturegram  #sea
        #spiaggia  #island  #inspiredby  #sun #spring #likemypicture","from":{"username":"frantic_zombie","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_271705056_75sq_1383392623.jpg","id":"271705056","full_name":"Nefer
        Delitala"},"id":"700581091303548683"}]},"filter":"Normal","created_time":"1397735597","link":"http:\/\/instagram.com\/p\/m49UZ9AOZg\/","likes":{"count":8,"data":[{"username":"kakomaco","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_219678672_75sq_1397553895.jpg","id":"219678672","full_name":"Marco"},{"username":"veganbostondog","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_438115056_75sq_1375963066.jpg","id":"438115056","full_name":"Drew"},{"username":"daddidoff","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_1833769_75sq_1397420880.jpg","id":"1833769","full_name":"daddidoff"},{"username":"sean_sheridan","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_30921911_75sq_1397179834.jpg","id":"30921911","full_name":"Sean
        Sheridan"}]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage0.s3.amazonaws.com\/94008a5ac62611e3931a0002c9c53a10_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage0.s3.amazonaws.com\/94008a5ac62611e3931a0002c9c53a10_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/distilleryimage0.s3.amazonaws.com\/94008a5ac62611e3931a0002c9c53a10_8.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1397735597","text":"Cristo
        di Rio xD #this is #Sardegna !","from":{"username":"frantic_zombie","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_271705056_75sq_1383392623.jpg","id":"271705056","full_name":"Nefer
        Delitala"},"id":"700579425401497259"},"type":"image","id":"700579425149838944_271705056","user":{"username":"frantic_zombie","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_271705056_75sq_1383392623.jpg","full_name":"Nefer
        Delitala","bio":"","id":"271705056"}},{"attribution":null,"tags":["sightseeing","tower","hamburg","travel","inspiredby"],"location":{"latitude":53.548371386,"name":"St.
        Michaelis - \"Michel\"","longitude":9.97850091,"id":13150718},"comments":{"count":0,"data":[]},"filter":"Amaro","created_time":"1397733578","link":"http:\/\/instagram.com\/p\/m45d8UF8Lm\/","likes":{"count":4,"data":[{"username":"jeffoouu","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_303103146_75sq_1383446855.jpg","id":"303103146","full_name":"Jeff
        Gagnon"},{"username":"_jenne98","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_366209301_75sq_1397557616.jpg","id":"366209301","[...]
