---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4750'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1391527809229","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1391527809229","next_min_id":"1391560546581","min_tag_id":"1391560546581","next_url":"https:\/\/api.instagram.com\/v1\/tags\/inspiredby\/media\/recent?client_id=<API_TOKEN>\u0026max_tag_id=1391527809229"},"meta":{"code":200},"data":[{"attribution":null,"tags":["garden","costarica","nature","whitneyswonderlandincostarica","mommy","deer","puntaislita","inspiredby","tropicaltravels","mountain","wildlife","beauty","travelblogger","travel","stunning","animal","gorgeous","puravida","surprise","holiday","beach","guanacaste","photooftheday"],"location":{"latitude":9.857665345,"name":"Hotel
        Punta Islita","longitude":-85.401526894,"id":829582},"comments":{"count":0,"data":[]},"filter":"X-Pro
        II","created_time":"1391531746","link":"http:\/\/instagram.com\/p\/kAEaXfIPw5\/","likes":{"count":8,"data":[{"username":"therealsayj","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_208746889_75sq_1367252485.jpg","id":"208746889","full_name":"Say
        J"},{"username":"raquelsalasc","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_178768020_75sq_1391409166.jpg","id":"178768020","full_name":"Raquel"},{"username":"fefycastro","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_411165573_75sq_1390799472.jpg","id":"411165573","full_name":"Estefanie
        Castro"},{"username":"whispertherainbow","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_502958497_75sq_1390965769.jpg","id":"502958497","full_name":"Marc
        Lewis"}]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage6.s3.amazonaws.com\/f071e3248db911e3a10b12ce336dc00a_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage6.s3.amazonaws.com\/f071e3248db911e3a10b12ce336dc00a_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/distilleryimage6.s3.amazonaws.com\/f071e3248db911e3a10b12ce336dc00a_8.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1391531746","text":"Look
        who I found in my garden!! \ud83d\udc9a #beauty#costarica#guanacaste#puravida#deer#mommy#nature#animal#wildlife#travel#travelblogger#gorgeous#stunning#surprise#garden#tropicaltravels#inspiredby#photooftheday#puntaislita#beach#mountain#holiday#whitneyswonderlandincostarica","from":{"username":"whitswonderland","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_450232110_75sq_1390165952.jpg","id":"450232110","full_name":"Whitney
        V"},"id":"648537751123197026"},"type":"image","id":"648537750452108345_450232110","user":{"username":"whitswonderland","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_450232110_75sq_1390165952.jpg","full_name":"Whitney
        V","bio":"","id":"450232110"}},{"attribution":null,"tags":["motivation","fitfam","brooklynlife","workout","bros","quotes","inspirephoto","gymtip","fitnesstips","gymtime","gymlife","legends","instasurf","motivate","airtime","justnow","fitness","karatespain2013","nyc","exercise","inspiredby"],"location":null,"comments":{"count":0,"data":[]},"filter":null,"created_time":"1391530364","link":"http:\/\/instagram.com\/p\/kABxtdk5kR\/","likes":{"count":7,"data":[{"username":"bam_bam_quotes","profile_picture":"ht[...]
