---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4350'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["proud"],"location":{"latitude":24.707828333,"longitude":46.707071667},"comments":{"count":47,"data":[{"created_time":"1395766245","text":"\u0627\u0644\u0646\u0627\u0633
        \u0647\u0630\u064a \u062d\u0627\u0633\u062f\u064a\u0646\u0647\u0627 \u062d\u062a\u0649
        \u0645\u0646 \u0627\u0644\u0632\u0648\u0627\u062c \u064a\u0627\u0627\u062e\u064a
        .. \u062f\u0627\u0645 \u0627\u0644\u0644\u0647 \u0631\u0632\u0642\u0647\u0627
        \u0642\u0648\u0644\u064a \u0627\u0644\u0644\u0647 \u064a\u0648\u0641\u0642
        \u0644\u0647\u0627 . \u0648\u0644\u0627 \u0647\u064a \u0645\u0639\u0632\u0632\u0647
        \u0645\u0643\u0631\u0645\u0647 \u0628\u0628\u064a\u062a \u0627\u0628\u0648\u0647\u0627","from":{"username":"naif551924","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_458594803_75sq_1394348026.jpg","id":"458594803","full_name":"NAIF"},"id":"684059309082639859"},{"created_time":"1395766263","text":"\u062a\u0635\u062f\u0642\u0648\u0646
        \u0627\u0644\u0644\u064a \u0627\u0643\u062a\u0628\u0647 \u064a\u0646\u0645\u0633\u062d","from":{"username":"onofonofon","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_1168015724_75sq_1395474684.jpg","id":"1168015724","full_name":"JUST{
        ME }"},"id":"684059456403373562"},{"created_time":"1395766287","text":"\u064a\u0627\u0628\u0639\u062f
        \u064[...]
